{% extends 'base.html' %}

{% block content %}
<!-- based on example here: https://codepen.io/juff03/pen/OXaXRG -->
<div class="container">
  <form action="{{ url_for('login') }}" method=post class="well form-horizontal" method="post"  id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend><center><h2><b>Login</b></h2></center></legend><br>

      <div class="form-group">
        <label class="col-md-4 control-label">Username</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="user_name" placeholder="Username" class="form-control"  type="text">
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label" >Password</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="user_password" placeholder="Password" class="form-control"  type="password">
          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-warning" ></span>Login</button>
        </div>
      </div>
    </fieldset>
    </form>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4"><br>
        <a href="/register" type="submit" class="btn btn-regular" ></span>Register</a>
      </div>
    </div>
  </div>
</div><!-- /.container -->

{% endblock %}
