{% extends 'base.html' %}

{% block content %}
<!-- based on example here: https://codepen.io/juff03/pen/OXaXRG -->
<div class="container">
  <form class="well form-horizontal" action="{{ url_for('register') }}" method="post"  id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend><center><h2><b>User Report</b></h2></center></legend><br>

      <!-- Text input-->

      <div class="row">
        <label class="col-md-4 control-label">Username: </label>
        <div class="col-md-4 text-right">{{username}}</div>
      </div>

      <div class="row">
        <label class="col-md-4 control-label">First Name: </label>
        <div class="col-md-4 text-right">{{firstname}}</div>
      </div>

      <div class="row">
        <label class="col-md-4 control-label">Last Name: </label>
        <div class="col-md-4 text-right">{{lastname}}</div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-warning" ><span class="glyphicon glyphicon-send"></span>Submit</button>
        </div>
      </div>
    </fieldset>
    </form>
  </div>
</div><!-- /.container -->

{% endblock %}
